{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
{%block create%}{% endblock%}

</body>
<div class="col-md-12 column">
    <h2>{% block table_header %}{% endblock %}</h2>
    <div id="toolbar">
        <button id="remove" class="btn btn-danger" disabled>
            <i class="fa fa-trash"></i> Delete
        </button>
    </div>
    <table
            id="table"
            data-toolbar="#toolbar"
            data-search="false"
            data-show-refresh="true"
            data-show-toggle="true"
            data-show-fullscreen="true"
            data-show-columns="true"
            data-show-columns-toggle-all="true"
            data-detail-view="true"
            data-show-export="true"
            data-click-to-select="true"
            data-detail-formatter="detailFormatter"
            data-minimum-count-columns="2"
            data-show-pagination-switch="true"
            data-pagination="true"
            data-id-field="id"
            data-data-field="results"
            data-total-field="total_count"
            data-page-list="[10, 25, 50, 100, all]"
            data-show-footer="false"
            data-auto-refresh="true"
            data-side-pagination="server"
            data-url="../../api/v0/{% block url%}{% endblock %}"
            data-response-handler="responseHandler">
    </table>
</div>
{% endblock %}