{% extends 'base_table.html' %}
{% block title %}
Currency Overview
{% endblock %}
{% block create %}
<div class="col-md-6 offset-md-3">
    <h2>Create new currency</h2>
    <form class="needs-validation" novalidate name="newCurrency" id="newCurrency" >

        <div class="form-group row">
            <label for="long_name" class="col-sm-4 col-form-label">Name (long)</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="long_name" name="long_name" placeholder="Bitcon"
                       aria-label="Username" aria-describedby="basic-addon1" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-8">
                <input type="type" name="name" id="name" class="form-control" aria-label="Username" placeholder="BTC"
                       aria-describedby="basic-addon1" required>
            </div>
        </div>

        <div class="offset-md-9 input-group ">
            <button class="btn btn-primary" type="submit" id="btn_createNewCurrency" name="btn_createNewCurrency">Create currency
            </button>
        </div>

    </form>
</div>

{% endblock %}
{% block table_header %}Currency List{% endblock %}
{% block url %}currency{% endblock %}

{% block scripts %}
<script src="{{url_for('static',filename='currencyTable.js')}}"/>
{% endblock %}